/* Footer.css */

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .footer-logo h3 {
    font-size: 1.5rem;
  }
  
  .footer-links ul {
    list-style: none;
    display: flex;
  }
  
  .footer-links li {
    margin-right: 20px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-links a:hover {
    color: #ff6600;
  }
  
  .footer-bottom {
    text-align: center;
    padding: 10px 0;
  }
  
  .footer__title {
    font-size: 30px;
    animation: colorShift 3s linear infinite;
    background: linear-gradient(to right, #ff5733, #33ff57, #5733ff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    cursor: pointer;
  }
  
  @keyframes colorShift {
    0% {
      background-position: -100% 50%;
    }
    100% {
      background-position: 200% 50%;
    }
  }
  